* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

.App {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background: #121212;
}

.button {
  width: 160px;
  height: 50px;

  border: 0;
  border-radius: 8px;

  background: #3d3d3d;
  color: #ffffff;

  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;

  cursor: pointer;
}